@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We hope this app helps you have fun while giving!</p>

<p>See <a href="/Home/Help">Help Video</a></p>

<h3>Credits</h3>
<p><b>qrcode</b> Copyright &copy; 2012 davidshimjs</p>
<p><b>bootstrap</b> Copyright &copy; 2013 Twitter, Inc</p>
<p><b>jquery</b> Copyright &copy; 2005, 2013 jQuery Foundation, Inc</p>
<p><b>jquery validate</b> Copyright &copy; 2016 Jörn Zaefferer</p>
<p><b>modernizr</b> Copyright &copy; Faruk Ates, Paul Irish, Alex Sexton</p>
<p><b>respond</b> Copyright &copy; 2012 Scott Jehl, Paul Irish, Nicholas Zakas</p>
<p><b>firebase</b> Copyright &copy; 2014 Google Inc.</p>
<p><b>angular</b> Copyright &copy; 2010-2016 Google, Inc.</p>
<p><b>azure</b> Copyright &copy; 2016 Microsoft Inc.</p>
<p><b>trivia-db</b> Copyright &copy; 2002-2013 Mark A. Day </p>
<p><b>pubquizarea</b> Copyright &copy; QuizArea 2016  </p>
<p><b>app</b> Copyright &copy; 2016 Microsoft Inc.</p>
<p>
    <a href="https://azure.microsoft.com/en-us/support/legal/">Azure Terms of Service</a>
</p>
<p>
    <a href="https://www.firebase.com/terms/terms-of-service.html">Firebase Terms of Service</a>
</p>