@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="/content/trivialogo.png" class="banner" />
    <p class="lead center">
        Welcome to the Give Campaign online trivia challenge!
    </p>
    <p class="lead center">
        Our aim is to raise money to make the world a better place while enjoying a game of trivia with coworkers and friends.
        What's more fun than that?
        <br />
        All contributions will go towards Alex's Lemonade Stand, an organization that funds research and treatment of childhood cancer.
    </p>

    <p class="lead center" style="font-weight:bold">Please donate $5 or more to participate in the game.</p>

    <table align="center">
        <tr>
            <td><a href="http://donate.jdrf.org/info/jdrf"><img src="/content/jdrf.jpg" class="banner" title="Cure, prevent and treat type 1 diabetes" /></a></td>
            <td><a href="http://www.doctorswithoutborders.org/"><img src="/content/dwb.png" class="banner" title="Doctors without borders"/></a></td>
            <td><a href="http://aka.ms/dsstriviachallenge"><img src="/content/give.jpg" class="banner" title="Give" /></a></td>
        </tr>
    </table>
</div>

<div class="row">
    <div>
        <center>
            <h2><b>How To Play</b></h2>
            <p>All you need to do is donate and join a game!</p>
            <p>
                Ready set ...
            </p>
        </center>
        <table align="center">
            <tr>
                <td>
                    <p>
                        <a class="btn btn-primary btn-lg" href="https://microsoft.benevity.org/campaigns/4676">Donate Here</a>
                        <a class="btn btn-primary btn-lg" href="/play/index">Join a Game</a>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>