@{
    ViewBag.Title = "Game Page";
}

<div ng-app="myApp" style="padding:20px;">
    <div class="boldlead" id="heading">
    </div>

    <div id="mainpanel">

        <div class="result wronganswer" style="visibility:hidden;">
            <p>
                <span class="popup-title">OOPS!</span><br />
                <span id="wrongAnswerReason" class="popup-subtitle">wrong answer</span>
            </p>
        </div>
        <div class="result rightanswer" style="visibility:hidden;">
            <p>
                <span id="winnerName" class="popup-title">CORRECT !</span><br />
                <span id="winnerSubtitle" class="popup-subtitle">got it !!</span>
            </p>
        </div>
        <div id="tilelist" class="tilelist">
        </div>
    </div>

    <div style="clear:both"></div>
    <hr/>

    <div class="righthandlist">
        <br/><br />

        <!-- this is the overall top score winners -->
        <table ng-controller="userTableCtrl" id="topScores" class="usertable">
            <tr>
                <td colspan="3">
                    <p class="lead">
                        Top scores across all games:
                    </p>
                </td>
            </tr>
            <tr class="userrow" id="userScoreRow">
                <td class="userscoreself"><span id="userWins"></span></td>
                <td class="userscoreself"><span id="userPoints"></span></td>
                <td class="username"><span id="userName"></span></td>
            </tr>
            <tr ng-repeat="x in viewModel | topWinners:50 " class="userrow">
                <td class="userscore">{{ x.wins }}</td>
                <td class="userscore">{{ x.score }}</td>
                <td class="username">{{ x.id | trimEmail }}</td>
            </tr>
            <tr class="userrow" >
                <td class="usertabletip">wins</td>
                <td class="usertabletip">score</td>
            </tr>
            <tr>
                <td colspan="3">
                    <p class="lead" id="gameParticipants">
                    </p>
                </td>
            </tr>
        </table>
    </div>


    <div style="clear:both"></div>
    <div id="errormessage" class="errormessage" style="clear:both">

    </div>

    <script>
        var app = angular.module('myApp', []);
        
        app.controller('userTableCtrl', function ($scope) {
            $scope.viewModel = [];

            $scope.removeUser = function (user) {
                var i = 0;
                for (i = 0; i < $scope.viewModel.length; i++)
                {
                    var u = $scope.viewModel[i];
                    if (u.id == user.id)
                    {
                        $scope.viewModel.splice(i, 1);
                    }
                }
            };

            $scope.updateUser = function (user) {
                var i = 0;
                for (i = 0; i < $scope.viewModel.length; i++) {
                    var u = $scope.viewModel[i];
                    if (u.id == user.id) {
                        $scope.viewModel[i] = user;
                        return;
                    }
                }

                $scope.viewModel.push(user);
            };
            $scope.setUsers = function (list) {
                var newList = [];
                $scope.viewModel = newList.concat(list);
            }
        });

        app.filter('topWinners', function () {
            return GetTopWinners;
        });
        app.filter('trimEmail', function () {
            return TrimEmail;
        });

        $(window).load(function () {
            InitGame(gameConfig);
            WatchGames();
            ShowGames();
        });
    </script>

</div>